NET"clk_100mhz"LOC=AC18 | IOSTANDARD=LVCMOS18;
NET"clk_100mhz" TNM_NET=TM_CLK;
TIMESPEC TS_CLK_100M=PERIOD"TM_CLK" 10 ns HIGH 50%;

NET"RSTN"LOC=W13 | IOSTANDARD=LVCMOS18;

NET"SW[0]"LOC=AA10 | IOSTANDARD=LVCMOS15;
NET"SW[1]"LOC=AB10 | IOSTANDARD=LVCMOS15;
NET"SW[2]"LOC=AA13 | IOSTANDARD=LVCMOS15;
NET"SW[3]"LOC=AA12 | IOSTANDARD=LVCMOS15;
NET"SW[4]"LOC=Y13 | IOSTANDARD=LVCMOS15;
NET"SW[5]"LOC=Y12 | IOSTANDARD=LVCMOS15;
NET"SW[6]"LOC=AD11 | IOSTANDARD=LVCMOS15;
NET"SW[7]"LOC=AD10 | IOSTANDARD=LVCMOS15;
NET"SW[8]"LOC=AE10 | IOSTANDARD=LVCMOS15;
NET"SW[9]"LOC=AE12 | IOSTANDARD=LVCMOS15;
NET"SW[10]"LOC=AF12 | IOSTANDARD=LVCMOS15;
NET"SW[11]"LOC=AE8 | IOSTANDARD=LVCMOS15;
NET"SW[12]"LOC=AF8 | IOSTANDARD=LVCMOS15;
NET"SW[13]"LOC=AE13 | IOSTANDARD=LVCMOS15;
NET"SW[14]"LOC=AF13 | IOSTANDARD=LVCMOS15;
NET"SW[15]"LOC=AF10 | IOSTANDARD=LVCMOS15;

NET"seg_clk"LOC=M24 | IOSTANDARD=LVCMOS33;
NET"seg_clrn"LOC=M20 | IOSTANDARD=LVCMOS33;
NET"seg_sout"LOC=L24 | IOSTANDARD=LVCMOS33;
NET"SEG_PEN"LOC=R18 | IOSTANDARD=LVCMOS33;
NET"Buzzer"LOC=AF24 | IOSTANDARD=LVCMOS33;

