<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <filter>
    <filter-name>CharsetEncodingFilter</filter-name>
    <filter-class>com.xiaogang.app.filter.CharsetEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetEncodingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharsetEncodingFilter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>WxUploadFileServlet</display-name>
    <servlet-name>WxUploadFileServlet</servlet-name>
    <servlet-class>com.xiaogang.app.servlet.WxUploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxUploadFileServlet</servlet-name>
    <url-pattern>/WxUploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WxDownloadFileServlet</display-name>
    <servlet-name>WxDownloadFileServlet</servlet-name>
    <servlet-class>com.xiaogang.app.servlet.WxDownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxDownloadFileServlet</servlet-name>
    <url-pattern>/WxDownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.xiaogang.app.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WxLoginServlet</display-name>
    <servlet-name>WxLoginServlet</servlet-name>
    <servlet-class>com.xiaogang.wxpay.WxLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxLoginServlet</servlet-name>
    <url-pattern>/WxLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WxPayServelt</display-name>
    <servlet-name>WxPayServelt</servlet-name>
    <servlet-class>com.xiaogang.wxpay.WxPayServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxPayServelt</servlet-name>
    <url-pattern>/WxPayServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WxNotifyServelt</display-name>
    <servlet-name>WxNotifyServelt</servlet-name>
    <servlet-class>com.xiaogang.wxpay.WxNotifyServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxNotifyServelt</servlet-name>
    <url-pattern>/WxNotifyServelt</url-pattern>
  </servlet-mapping>
</web-app>