NET"clk_100mhz"LOC=AC18 | IOSTANDARD=LVCMOS18;
NET"clk_100mhz"	TNM_NET=TM_CLK;
TIMESPEC TS_CLK_100M=PERIOD"TM_CLK" 10ns HIGH 50%;
NET"ledclk"LOC=N26 | IOSTANDARD=LVCMOS33;
NET"ledclrn"LOC=N24 | IOSTANDARD=LVCMOS33;
NET"ledsout"LOC=M26 | IOSTANDARD=LVCMOS33;
NET"LEDEN"LOC=P18 | IOSTANDARD=LVCMOS33;
NET"A"LOC=AA10 | IOSTANDARD=LVCMOS15;
NET"B"LOC=AB10 | IOSTANDARD=LVCMOS15;
NET"C"LOC=AA13 | IOSTANDARD=LVCMOS15;
NET"G"LOC=Y12 | IOSTANDARD=LVCMOS15;
NET"G_2A"LOC=Y13 | IOSTANDARD=LVCMOS15;
NET"G_2B"LOC=AA12 | IOSTANDARD=LVCMOS15;
NET"Y[0]"LOC=W23 | IOSTANDARD=LVCMOS33;
NET"Y[1]"LOC=AB26 | IOSTANDARD=LVCMOS33;
NET"Y[2]"LOC=Y25 | IOSTANDARD=LVCMOS33;
NET"Y[3]"LOC=AA23 | IOSTANDARD=LVCMOS33;
NET"Y[4]"LOC=Y23 | IOSTANDARD=LVCMOS33;
NET"Y[5]"LOC=Y22 | IOSTANDARD=LVCMOS33;
NET"Y[6]"LOC=AE21 | IOSTANDARD=LVCMOS33;
NET"Y[7]"LOC=AF24 | IOSTANDARD=LVCMOS33;